<ul class="table-view sideMenu">
    <li class="table-view-cell">
        <a class="navigate-right" href="javascript:void(0)" data-bind="click:function(){navigate('#item1/1-1')}">
            Item 1
        </a>
    </li>
    <li class="table-view-cell">
        <a class="navigate-right" href="javascript:void(0)" data-bind="click:function(){navigate('#')}">
            Item 2
        </a>
    </li>
    <li class="table-view-cell">
        <a class="navigate-right">
            Item 3
        </a>
    </li>
</ul>
